*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('./common/header.scss');
@import url('./home/index.scss');
@import url('./common/footer.scss');

@import url('./home/contactUs.scss');
@import url('./home/aboutUs.scss');
@import url('./home/liveScore.scss');