.head_nav{
    border-bottom: 2px solid #00adff;
    background-color: #192a51;
    padding: 20px;

    .navbar-brand{
        a{
            color: #fff;
            text-decoration: none;  
        }
    }
     
    .navbar-collapse{
        .navbar-nav{
            .nav-link{
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                font-weight: 500;
                color: #fff;

                 a{
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        color:#00adff ;
                     }
                 }

                 &:hover{
                    color:#00adff ;
                 }
            }
        }
    }
}
