.matchShedule_section{
    .matchSchedule_content{
        h1{
            color: #084298;
            font-weight: 700;
        }
    }
    .matchSchedule_table{
        table{
            text-align: center;
            td,th{
                padding: 1rem;
            }
        }
    }
}